@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Roboto:wght@300&family=Satisfy&display=swap");

/* button  32A632 */

* {
  /* border: 1px solid black !important; */
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.no-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
  -ms-overflow-style: none;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

/* Custom scrollbar for specific class */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #c1c1c1 #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a8a8a8;
}

.hero__caurosel
  .swiper-pagination
  .swiper-pagination-bullets
  .swiper-pagination-horizontal {
  margin-top: 4rem !important;
}

.hero__caurosel .swiper-pagination-bullet-active {
  background: #fff !important;
}

.hero__caurosel .swiper-pagination-bullet {
  background: #dbdbdb !important;
}

.testimonials__caurosel .swiper-pagination-bullet-active {
  background: #fff !important;
}

.testimonials__caurosel .swiper-pagination-bullet {
  background: #ffa500 !important;
}

/* Home Page */

/* How It Works Section */
@keyframes rotating {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
.rotating {
  animation: rotating 10s linear infinite;
}

@keyframes bubble-shadow {
  0% {
    box-shadow: 0 0 0 0px rgba(37, 120, 48, 0.5);
  }
  100% {
    box-shadow: 0 0 0 25px rgba(37, 120, 48, 0);
  }
}

.shadow-bubble:hover {
  animation: bubble-shadow 0.8s forwards infinite;
}

.loader {
  width: 60px;
  aspect-ratio: 2;
  --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
  background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
  background-size: calc(100% / 3) 50%;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
